@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #ff5206;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#mobile {
  display: none;
}

#desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

#desktop a>img {
  width: 200px;
  height: auto;
  max-width: 200px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  padding-top: 20px;
}

.logos a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  flex-wrap: nowrap;
  align-content: center;
  position: relative;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: nowrap;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.background-img {
  width: 100%;
  /* height: 100vh; */
  object-fit: fill;
}

.lista {
  border-top: #fff 2px solid;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  list-style-type: none;
  padding: 0;
  flex-wrap: nowrap;
  align-content: center;

}

.lista li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


.lista li:hover {
  text-decoration: underline;
}

.lista li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.navegacao {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.participacao-popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.participacao-popular h1 {
  font-size: 1.4em;
}

.participacao-popular .sobre{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  padding-bottom: 40px;
}

.participacao-popular .sobre p {
  text-align: justify;
  margin: 0;
  font-size: 1.1rem;
}

.participacao-popular a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 80px;
  background-color: #fff;
  color: #203b67;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
}

.line-blue {
  margin-top: 0.7px;
  background-color: #203b67;
  color: white;
  width: 100%;
  height: 40px;
}

.participacao-popular a:hover {
  background-color: #203b67;
  color: white;
}

.participacao-popular a img {
  width: 50px;
  height: 50px;
}

.participacao-popular a:hover img {
  transition: 0.3s;
  transform: rotate(360deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203b67;
  color: white;
  width: 100%;
  /* padding: 10px; */
  gap: 20px;
}

/* Divisor ajustado para a versão responsiva */
.divisor {
  position: absolute; /* Mantém o divisor fixo na tela */
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Garante que o divisor esteja acima de outros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

#entenda{
  margin-top: 5px;
  background: none;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  width: auto;
  padding: 0;
  justify-content: flex-start;
}

#entenda:hover{
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1052px) {
  #mobile {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
 #mobile  a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
 }

  #mobile a>img {
    width: 200px; /* Ajuste o tamanho das imagens SVG para telas menores */
    height: auto;
  }

  #desktop {
    display: none;
  }

  .container {
    flex-direction: column; /* Altera a direção para coluna */
    align-items: center; /* Centraliza os itens verticalmente */
    position: relative;
  }

  .left {
    width: 100%;
    gap: 20px; /* Ajuste o espaço entre os elementos */
    /* margin-top: 20px; */
  }

  .right {
    width: 100%;
    order: -1; /* Coloca o .right em cima da .left */
  }

  .divisor {
    display: none;
  }
  
  .background-img {
    width: 100%; /* Ajusta a largura da imagem */
    height: 100%; /* Mantém a proporção da imagem */
  }

  .top{
    flex-direction: column;
  }

}

@media (max-width: 480px) {
  #mobile a>img {
    width: 100px; /* Ajuste o tamanho das imagens SVG para telas menores */
    height: auto;
  }

  .divisor{
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .divisor img {
    width: 100px; /* Ajuste o tamanho para telas menores */
  }

  .participacao-popular h1 {
    font-size: 1.2em; /* Ajuste o tamanho da fonte para telas menores */
  }

  .participacao-popular a {
    font-size: 1em; /* Ajuste o tamanho da fonte para telas menores */
    gap: 40px; /* Ajuste o espaçamento entre ícones e texto */
  }

  .participacao-popular a img {
    width: 40px; /* Ajuste o tamanho do ícone para telas menores */
    height: 40px;
  }

  .participacao-popular a:hover img {
    transition: none;
    transform: none;
  }

}
